# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
## 1. The first a random number from 1 to 4

first_random=[np.random.randint(1,4) for first_random in range(100)]
random_number1=pd.DataFrame(first_random)

In [3]:
## 2.The second a random number from 1 to 3

second_random=[np.random.randint(1,3) for second_random in range(100)]
random_number2=pd.DataFrame(second_random)

In [4]:
## 3.The third a random number from 10,000 to 30,000

third_random=[np.random.randint(10000,30000) for third_random in range(100)]
random_number3=pd.DataFrame(third_random)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:
df=pd.concat([random_number1,random_number2,random_number3],axis=1)

### Step 4. Change the name of the columns to bedrooms, bathrooms, price_sqr_meter

In [6]:
df.columns=["bedrooms","bathrooms","price_sqr_meter"]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [7]:
df1=df.bedrooms.astype(str).str.cat(df.bathrooms.astype(str)).str.cat(df.price_sqr_meter.astype(str))
df1.columns=["bigcolumn"]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [8]:
print(df1)

0     2217448
1     2222772
2     3122197
3     1212650
4     2123016
       ...
95    2222474
96    2216410
97    1214080
98    2119016
99    3227553
Name: bedrooms, Length: 100, dtype: object

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [9]:
df1.reset_index()
df1.reindex(index=range(0,299))

0      2217448
1      2222772
2      3122197
3      1212650
4      2123016
        ...
294        NaN
295        NaN
296        NaN
297        NaN
298        NaN
Name: bedrooms, Length: 299, dtype: object